#!/usr/bin/env bash

PROJECT_DIR="$(pwd)"

PATH_add "${PROJECT_DIR}"
PATH_add "${PROJECT_DIR}"/vendor/terraform/bin
PATH_add "${PROJECT_DIR}"/node_modules/.bin

function loose_version() {
  local version="$1"

  IFS="." read -r -a version_parts <<<"$version"

  echo "${version_parts[0]}.${version_parts[1]}"
}

node_full_version="$(cat "$PROJECT_DIR"/.nvmrc)"
node_loose_version="$(loose_version "$node_full_version")"

nvm_dirs=("$NVM_DIR" "$HOME/.nvm" "/usr/local/opt/nvm")
# shellcheck disable=SC2068
for nvm_dir in ${nvm_dirs[@]}; do
  nvm_script="${nvm_dir}/nvm.sh"
  if [ -s "$nvm_script" ]; then
    # shellcheck disable=SC1090
    source "$nvm_script" >/dev/null 2>&1
    nvm use "$node_loose_version"
    break
  fi
done
