@import "src/styles/Colors";

.contextModalWrapper {
  -webkit-user-select: none;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 99999999999999;

  .contextModalBase {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(37, 41, 46, 0.95);
    height: 100%;
    left: 0;
    pointer-events: auto;
    position: fixed;
    top: 0;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    will-change: opacity;
    padding: 40px;
    box-sizing: border-box;

    .contextModalContent {
      -webkit-font-smoothing: antialiased;
      background: $modal-background-color;
      border-radius: 24px;
      box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
      font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text", medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      margin-top: 41px;
      padding: 24px 24px 22px;
      pointer-events: auto;
      position: relative;
      text-align: center;
      transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      will-change: transform;
      overflow: visible;
      transform: translateY(-50%);
      top: 50%;
      max-width: 500px;
      margin: auto;
      min-height: 300px;
      max-height: 800px;

      .genericErrorMessage {
        color: $color-error;
        padding: 60px 15px 15px;
        overflow: auto;
      }
    }

    .contextModalFooter {
      position: absolute;
      text-align: center;
      top: 85%;
      align-items: center;
      display: flex;
      height: 26px;
      left: 0;
      justify-content: center;
      bottom: -42px;
      width: 100%;

      .closeContext {
        cursor: pointer;

        &:hover {
          box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
        }
      }
    }

  }
}
