@import "../../styles/Settings.scss";

.account-title {
  text-align: center;
  padding: 50px;
}

.wallet-list-item {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 15px;

  &:hover {
    border: 1px solid gray;
  }

  &.active-connector {
    border: 1px solid $accent;
    border-radius: 10px;
    margin: 15px;
  }

  .wallet-list-item-image-holder {
    height: 40px;
    width: 40px;

    img {
      height: 35px;
      width: 35px;
    }
  }
}

.connected-account {
  display: flex;
  flex-direction: column;
  padding: 40px;

  .connected-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .connected-account-address-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .connected-account-address {
      display: flex;
      align-items: center;
    }
  }
}
