@import "../../styles/Settings.scss";

.account-title {
  text-align: center;
  font-family: $font-third;
  padding: 20px;
}

.wallet-list-item {
  display: flex;

  &:not(.active-connector) {
    cursor: pointer;
  }

  // &.active-connector {
  //   border: 1px solid $accent;
  //   border-radius: 10px;
  //   margin: 15px;
  // }

  .list-item-option {
    padding: 16px 40px;
    display: flex;

    .active-wallet-indicator {
      margin-right: 8px;
    }
  }

  .status {
    .button {
      min-width: 101px;
    }
  }

  .wallet-list-item-image-holder {
    height: 28px;
    width: 28px;
    padding: 12px 20px;

    img {
      height: 28px;
      width: 28px;
    }
  }
}

.connected-account {
  display: flex;
  flex-direction: column;
  padding: 40px;

  .connected-with {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .connected-account-address-holder {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .connected-account-address {
      display: flex;
      align-items: center;
    }
  }
}

.address {
  .netowrk-info {
    position: absolute;
    top: 25px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background: #192028;
    border-radius: 4px;

    font-family: 'Exo', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #F08D1A;
  }

  .net-name::first-letter {
    text-transform: uppercase;
  }
}
