.button,
.button a {
  padding: 13px 22px;
  font-family: $font-primary;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  border-radius: 8px;

  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  transition: $ease-quick;

  &.primary {
    box-shadow: -6px -3px 35px rgba(128, 240, 190, 0.15);
    background: #80F0BE;
    color: #1C2835;

    &:hover {
      color: $white;
      background-color: #50e5a2;
      box-shadow: -7px 1px 40px rgba(20, 255, 150, 0.18);
    }
  }

  &.linear {
    text-transform: inherit;
    text-decoration: inherit;
    padding: 13px 32px;
    background: linear-gradient(0.17turn, #4DC0FD, #55FFAA);
    color: white;
  }

  &.static {
    background: #132C3D;
    color: rgba(#3C8FBD, 0.7);

    &:hover {
      background-color: #18384f;
    }

    &:active {
      background-color: #112736;
    }
  }

  &.connected-account-button {
    display: flex;
    background-color: #192028;
    text-transform: inherit;
    text-decoration: inherit;
    font-weight: normal;

    .provider-logo {
      height: 22px;
      width: 32px;
      padding-right: 10px;
    }

    .active-wallet-indicator {
      height: 8px;
      padding: 0 5px;
    }

    span {
      color: #8798AB;
    }
  }

  &.orange,
  &.orange a {
    background: #F68C24;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #F68C24;
      background-color: #fff;
    }
  }

  &.refund {
    background: #3D5167;
    color: #ffffff;

    // &:hover {
    //   color: #3D5167;
    //   background-color: #fff;
    // }
  }

  &.square {
    background-color: #132C3D;
    border-radius: 7.61905px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #18384f;
    }

    &:active {
      background-color: #112736;
    }
  }

  &.hide-disabled {
    &[disabled] {
      display: none;
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}
