@import "./Reset.scss";
@import "./FlexGrid.scss";
@import "./Placeholder.scss";
@import "./Buttons.scss";
@import "./Settings.scss";

html {
  font-size: 16px;
}

:root {
  --progress-percentage: 0;
  --page-color: #000;
}

html, body, #root, .emulate-mobile {
  min-height: 100vh;
}


html, body {
  min-height: 100%;
  touch-action: manipulation;
  background-color: #{'rgb(var(--page-color))'};
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;

  font-family: $font-secondary;
  line-height: $height-regular;
  font-weight: 500;
  color: $text-1;

  // simulate mobile
  align-items: center;
  justify-content: center;
}

a:not(.def),
input[type="submit"] {
  transition: $ease-flash;
  color: #FFFFFF;

  @media (min-width: 769px) {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.65;
    }
  }

  &[aria-current="page"] {
    pointer-events: none;
  }
}

[role="button"] {
  cursor: pointer;

  &.button.-blue,
  &.button.-green {
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    padding: 13px;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &.-blue {
      background: #358EF5;
      color: #FFFFFF;
    }
    &.-green {
      background: #80F0BE;
      color: #1C2835;
      &:hover {
        color: $white;
        background-color: #50e5a2;
      }
    }
  }
}

h1:not(.def) {
  font-size: 26px;
  font-weight: 600;
  line-height: $height-small;
}

h2:not(.def) {
  font-size: 18px;
  font-weight: 600;
  line-height: $height-small;
}

.emulate-mobile {
  padding-top: 100px;
  padding-bottom: 81px;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: block;
  position: relative;

  height: 100%;

  @media (max-width: 375px) {
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
  }
}

.screens {
  max-height: none;
  // overflow-y: auto;

  &.new-user {
    opacity: 0;
    max-height: 100%;
    overflow-y: auto;
    transition: 0.7s 400ms ease-in-out;
    max-height: 100vh;
    overflow-y: hidden;
    max-height: calc(100vh - 181px);
  }

  &.onboarding-done {
    opacity: 1;
  }
}

.color-secondary {
  color: $color-secondary;
}

ul {
  list-style: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.elipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-none {
  text-decoration: none;
}

body {
  @media (min-width: 961px) {
    overflow-y: scroll
  }
  a,
  a:focus,
  a:active {
    text-decoration: none;

    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
}

header.top-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #{'rgba(var(--page-color), 0.9)'};
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 10;

  .progress-bar {
    margin-left: 22px;

    .bar {
      padding: 20px 0;
      cursor: auto;
      span {
        display: block;
        background: #132C3D;
        width: 11px;
        height: 2px;
        transition: 0.2s ease-in-out;
      }

      &.fill {
        span {
          background: #80F0BE;
        }
      }

      & + .bar {
        margin-left: 2px;
      }
      &:first-child {
        span {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
        }
      }
      &:last-child {
        span {
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
}

.bottom-navigation:not(.relative) {
  background: #{'rgba(var(--page-color), 0.9)'};
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  z-index: 11;

  .default-nav  {
    .nav-container {
      $nav-width: 375px;
      width: $nav-width;

      .link > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(#{$nav-width} / 5);
        padding: 3px;

        .set {
          font-family: 'Barlow', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #6E8298;

          &.selected {
            color: #80F0BE;
          }

          svg {
            margin-bottom: 5px;;
          }
        }
      }
    }
  }
}

.not-found {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  h1 {
    color: #80F0BE;
    font-size: clamp(110px, 15vw, 200px);
  }
  p {
    color: #C1C7CE;
    font-size: clamp(20px, 4vw, 50px);
    font-weight: 300;
  }
  .button {
    margin-top: 3vh;
  }
}
