@import "./Reset.scss";
@import "./FlexGrid.scss";
@import "./Placeholder.scss";
@import "./Buttons.scss";
@import "./Settings.scss";

html {
  font-size: 16px;
}

:root {
  --progress-percentage: 10px;
}


html, body {
  min-height: 100%;
  touch-action: manipulation;
  background-color: $background-primary;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;

  font-family: $font-secondary;
  line-height: $height-regular;
  font-weight: 500;
  color: $text-1;
  background: #181A29;

  // simulate mobile
  align-items: center;
  justify-content: center;
}

section:not(.no-bg) {
  background-color: $background-primary;
}

a,
input[type="submit"] {
  transition: $ease-flash;

  @media (min-width: 769px) {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.65;
    }
  }

  &[aria-current="page"] {
    pointer-events: none;
  }
}

[role="button"] {
  cursor: pointer;

  &.button.-blue,
  &.button.-green {
    transition: 0.2s ease-in-out;
    border-radius: 8px;
    padding: 13px;
    font-family: "Exo", sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &.-blue {
      background: #358EF5;
      color: #FFFFFF;
    }
    &.-green {
      background: #80F0BE;
      color: #1C2835;
      &:hover {
        color: $white;
        background-color: #50e5a2;
      }
    }
  }
}

h1:not(.def) {
  font-size: 26px;
  font-weight: 600;
  line-height: $height-small;
}

h2:not(.def) {
  font-size: 18px;
  font-weight: 600;
  line-height: $height-small;
}

.emulate-mobile {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: block;
  position: relative;

  background-color: $background-primary;

  @media (max-width: 375px) {
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
  }
}

.screens {
  max-height: none;
  // overflow-y: auto;

  &.new-user {
    opacity: 0;
    max-height: 100%;
    overflow-y: auto;
    transition: 0.7s 400ms ease-in-out;
    max-height: 100vh;
    overflow-y: hidden;
  }

  &.onboarding-done {
    opacity: 1;
  }
}

.color-secondary {
  color: $color-secondary;
}

ul {
  list-style: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.elipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-none {
  text-decoration: none;
}