@import "./Reset.scss";
@import "./FlexGrid.scss";
@import "./Placeholder.scss";
@import "./Settings.scss";


html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  font-family: $font-secondary;
  line-height: $height-regular;
  font-weight: $weight-5;
  color: $text-1;
  font-size: $size-regular;

  // simulate mobile
  align-items: center;
  justify-content: center;
  background: rgb(47, 55, 62);
  background: linear-gradient(90deg, rgb(47, 55, 62) 0%, #1c222b 100%);
}

section {
  background-color: $background-primary;
}

a,
input[type="submit"],
[role="button"]:not(.ignore-global) {
  transition: $ease-flash;

  @media (min-width: 769px) {
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.65;
    }
  }

  &[aria-current="page"] {
    pointer-events: none;
  }
}

h1:not(.def) {
  font-size: $size-title;
  font-weight: $weight-6;
  line-height: $height-small;
}

h2:not(.def) {
  font-size: $size-semi-title;
  font-weight: $weight-6;
  line-height: $height-small;
}

// h3:not(.def) {
//   font-size: $size-6;
//   font-weight: $weight-7;
//   line-height: $height-1;
// }

// h4:not(.def) {
//   font-size: $size-5;
//   font-weight: $weight-4;
//   line-height: $height-1;
// }

// p, li, a {
//   font-weight: $weight-3;
//   font-size: $size-4;
//   line-height: $height-2;

//   &.small {
//     font-size: $size-3;
//   }
// }

.simulate-mobile {
  width: 375px;
  height: 812px;
  max-height: 90vh;
  display: block;
  box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  background-color: $background-primary;
}

.color-secondary {
  color: $color-secondary;
}