.is-loading {
  position: relative;
  overflow: hidden;
  transition: 0.8s ease-in-out;

  &::before {
    content: '';
    background-color: #5d5d5d;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0.17turn, #1d1f23 35%, #272f38 46%, #272f38 54%, #1d1f23 65%);
    background-size: 1000% 1000%;
    transition: 0.8s ease-in-out;
    animation: loadingPlaceholder 3.1s ease-in infinite reverse;
  }
  
  &.error {
    filter: blur(5px);
    transform: scale(0.98);
    opacity: 0.6;
    position: relative;
    pointer-events: none;

    &::before {
      animation-play-state: paused;
      filter: grayscale(1) contrast(1.5);
    }
  }
}

@keyframes loadingPlaceholder { 
  0%{background-position:0% 91%;}
  50%{background-position:100% 9%;}
  50%{background-position:100% 9%;}
  100%{background-position:0% 91%;}
}