@mixin product-info {
  .product-info {
    h2 {
      font-family: $font-primary;
      font-weight: 600; 
      font-size: 26px;
    }
    & > p {
      margin-top: 16px;

      font-family: $font-secondary;
      font-weight: normal;
      font-size: 16px;
      line-height: $height-regular;
      word-break: break-word;
    }
    p {
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@mixin table {
  .table {
    & + .table {
      border-top: 1px solid rgba(255, 255, 255, 0.06);
    }

    &.location {
      padding-bottom: 38px;
      padding-top: 30px;

      p {
        font-family: $font-secondary;
        font-size: 16px;
        line-height: $height-regular;

        svg {
          margin-right: 11px;
        }
      }
    }
    &.product-info {
      padding: 33px 0;

      .row {
        margin-top: 14px;
      }

      p {
        font-family: $font-secondary;
        font-weight: normal;
        font-size: 16px;
        line-height: $height-regular;

        &.title {
          color: #C1C7CE;
        }
        &.value {
          color: #FFFFFF;
        }
      }
    }
    &.price,
    &.date {
      padding: 34px 0 41px 0;
      
      .row {
        & + .row {
          margin-top: 20px;
        }
      }

      .block {
        .icon {
          margin-right: 10px;
        }
        .text {
          .title {
            font-family: $font-secondary;
            color: #C1C7CE;
          }
        }
      }
    }
  }
}