@import "./Colors.scss";

// ----- grid -----
$container: 960px;
$container-padding: 22px;
$container-padding-big: 26px;
$container-high-end: 70%;


// ----- breakpoints -----

// ----- padding -----
$padding-col-side: 6px;

// ----- margin -----
$margin-safe-gap: 6px;
$margin-safe-gap-large: 6px;

$margin-gap-small: 3px;

// ----- font-size -----

// ----- line-height -----
$height-small: 1.11;
$height-regular: 1.43;

// ----- letter-spacing -----

// ----- font-family -----
$font-primary: 'Exo', sans-serif;
$font-secondary: 'Barlow', sans-serif;
$font-third: 'Montserrat', sans-serif;
$font-fourth: 'Roboto', sans-serif;

// ----- font color -----
$color-primary: $text-1;
$color-secondary: $text-2;

// ----- font weight -----

// ----- background -----
$background-primary: var(--background-primary);

// ----- borders -----

// ----- borders-radius -----
$container-radius: 5px;

// ----- transitions -----
$ease-flash: 0.05s all ease-in-out;
$ease-quick: 0.2s all ease-in-out;

// ----- shadows -----
$container-shadow: 1px 1px 45px rgba(0, 0, 0, 0.2);