.all-vouchers-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 200px;
}

.voucher-item {
  border: 1px solid #2D3743;
  border-radius: 8px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 20px;
  width: 100%;

  .field {
    margin-bottom: 10px;

    .field-name {
      color: #8798AB;
    }
  }

  .voucher-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .voucher-item-status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    grid-gap: 10px;
  }

  .voucher-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 10px;

    .voucher-item-button {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      width: 100%;
      height: 50px;
      justify-content: center;
    }

    .selected {
      background: black;
      cursor: default;
    }
  }
}

@media (min-width: 768px) {
  .voucher-item {
    flex-direction: column;
    width: 50%;

    .voucher-header {
      flex-direction: row;
      justify-content: space-around;
    }

    .voucher-item-status {
      text-align: left;
      grid-template-columns: repeat(4, 1fr);
    }

    .field {
      margin-bottom: 0px;
    }

    .voucher-item-actions {
      flex-direction: row;
      justify-content: space-between;
      grid-gap: 0;

      .voucher-item-button {
        width: 150px;
        flex-direction: row;
      }
    }
  }
}