.all-vouchers-container {
  overflow-x: auto;
  overflow-y: auto;
  height: 450px;
  h1 {
    margin: 15px;
  }
  margin-bottom: 100px;
}

.all-vouchers-container::-webkit-scrollbar-thumb {
  background-color:  #2D3743;
  border-radius: 20px;
}
.all-vouchers-table {
  margin-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 7.69px;
  
  thead {
    border-radius: 7.69px;
  }
  th {
    background-color: #2D3743;
    color: #ffffff;
    text-align: center;
    padding: 8px;
  }
  tr {
    border-radius: 7.69px;
  }
  tr:hover{
    background-color: #13191F;
  }
  td {
    padding: 4px;
    text-align: center;
  }
}
.td-save{
  button{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    width: 80px;
    height: 35px;
    background: #15bb9d;
  }
  svg {
    width: 20px;
    height: 20px;
  }
}

.customizable:hover {
  background-color:  #16806c;
  cursor: pointer;
}
