.home {
  padding: 55px 0;
  
  .product-list {
    margin-top: 20px;
  }
  .card-list {
    margin-top: 35px;

    .slick-track {
      margin-left: -25px;
    }
  }
  .home-products-listing {
    margin-top: 25px;
  }
}