@import "../styles/Settings.scss";

.new-offer {
  .container {
    min-height: 100vh;
  }
  .top-navigation {
    margin-top: 48px;
  }
  .progress-bar {
    margin-left: 22px;

    .bar {
      padding: 20px 0;
      span {
        display: block;
        background: #132C3D;
        width: 11px;
        height: 2px;
        transition: 0.2s ease-in-out;
      }

      &.fill {
        span {
          background: #80F0BE;
        }
      }

      &:hover {
        span {
          opacity: 0.6;
        }
      }

      & + .bar {
        margin-left: 2px;
      }
      &:first-child {
        span {
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
        }
      }
      &:last-child {
        span {
          border-top-right-radius: 24px;
          border-bottom-right-radius: 24px;
        }
      }
    }
  }
  .bottom-navigation {
    height: 97px;

    .button {
      top: 50%;
      transform: translateY(-50%);

      &:first-child {
        position: absolute;
        left: 0;
      }
      &:last-child {
        position: absolute;
        right: 0;
      }
    }

    &.offer {
      .button:not(.offer) {
        display: none;
      }
      .button.offer {
        width: 100%;
        position: absolute;
      }
    }

    &:not(.offer) {
      .offer {
        display: none;
      }
    }
  }
  .screen {
    .step-title {
      height: 70px;
      display: flex;
      align-items: flex-end;
    }
  }
  .screen-controller {
    .row {
      .field {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
          font-family: $font-primary;
          font-weight: 600;
          font-size: 14px;
          line-height: $height-small;

          color: #FFFFFF;
        }

        input,
        textarea,
        .field {
          margin-top: 14px;
          background: rgba(255, 255, 255, 0.03);
          border-radius: 2px;
          height: 50px;
          border: none;
          color: #fff;
          padding: 15px 13px;

          font-family: $font-secondary;
          font-size: 16px;
          line-height: $height-regular;

          width: 100%;

          &.hidden {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
          }
        }

        .field {
          cursor: pointer;
        }

        textarea {
          min-height: 140px;
        }

        .currencies {
          position: relative;

          &::before {
            content: '';
            width: 9.8px;
            height: 16.9px;
            background-image: url('../images/icon-eth.png');
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
          }
        }

        &.radio-label {
          label {
            width: 57px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: $font-secondary;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: $height-regular;

            text-align: center;

            color: #FFFFFF;

            background: rgba(255, 255, 255, 0.03);
            border-radius: 2px;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
              background: rgba(255, 255, 255, 0.02);
              box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);            
            }

            &.active,
            &.active:hover {
              background: rgba(0, 0, 0, 0.1);
              box-shadow: 1px 1px 15px rgba(0, 0, 0, 0);
            }
          }

          & + .field {
            margin-left: 6px;
          }
        }

        &.dual {
          .bind {
            margin-top: 14px;

            select {
              width: 72px;
              height: 50px;
              border: none;
              background-color: rgba(255, 255, 255, 0.03);
              color: transparent;

              & + input {
                margin-left: 8px;
              }
            }

            input {
              width: 100%;
            }
          }

          input {
            margin-top: 0;
          }
        }
      }

      & + .row {
        margin-top: 30px;
      }
    }
  }
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
}