@import "../styles/Settings.scss";

.onboarding-modal {
  height: 100%;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  transition: 0.9s ease-in-out;

  &::after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $background-primary;
    opacity: 0;
    transition: 0.9s ease-in-out;
  }

  &.fade-out {
    animation: close-modal 0.9s ease-in-out forwards;

    @media (min-width: 961px) {
      animation: fade-out-modal 0.9s ease-in-out forwards;
    }

    &::after {
      opacity: 1;
    }
  }
}

.onboarding {
  max-width: 100%;
  max-height: 100vh;

  .awssld__content {
    align-items: flex-start;
    background-color: $background-primary;
  }

  .screen {
    padding-bottom: 128px;
    padding-bottom: clamp(128px, 10vh, 130px);
    // height: 100%;

    .button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 70px;
    }
    .top {
      min-height: 125px;
      margin-bottom: 20px;
    }
    .slide-image {
      height: calc(100% - (125px + 175px + min(5vh, 86px)));
      min-height: 250px;

      & > * {
        max-height: 100%;
      }

      .slot {
        .block {
          background-color: rgba(36, 51, 67, 0.5);
          border-radius: 8px;
        }
      }
    }
    .text {
      min-height: 175px;
    }
  }

  h1, p {
    z-index: 2;
  }

  .text {
    .button {
      position: absolute;
    }
    .number {
      font-size: 183px;
      font-weight: 300;
      font-family: $font-secondary;
      line-height: 0.5;
      transform: translateY(50%);
      position: relative;
      opacity: 0.2;

      &::after {
        content: '';
        position: absolute;
        top: -18%;
        right: 0;
        bottom: -34%;
        left: 0;

        background: rgba($background-primary, 0.4);
        background: linear-gradient(to top, $background-primary 0%, transparent 100%)
        
      }
    }
    p:not(.number) {
      margin-top: 12px;
    }
  }

  .top {
    margin-top: #{'min(5vh, 86px)'};
    h2 {
      margin-top: 33px;
    }
  }

  .qr-display {
    .show {
      position: absolute;
      top: 14%;
      left: 30%;
      transform: translate(-5px);
      opacity: 0.5;
    }
    .scan {
      position: absolute;
      top: 20%;
      left: 45%;
      z-index: 3;
      transform: translate(5px, 15px);

      .phone-bg {
        width: 76px;
        height: 150px;
        border-radius: 12px;
        background: rgba(29, 40, 53, 0.8);
        border: 2px solid #506377;
        
        p {
          font-weight: 600;
          font-size: 8.5px;
          line-height: 111.4%;
          text-align: center;
          font-family: $font-primary;
          position: absolute;
          max-width: 78%;
          top: 9%;
        }
      }
    }
  }

  .animate {
    .show {
      animation: show-move 3.8s 100ms ease-in-out infinite;
    }
    .scan {
      animation: scan-move 3.8s 280ms ease-in-out infinite;
    }
    .phone-bg img {
      animation: qr-scan 3.8s 280ms ease-in-out infinite;
    }
    .diagram-content {
      .field {
        animation: success 6s  ease-in-out infinite;
      }
      .seller .block {
        animation: blockForward 6s  ease-in-out infinite;
  
        &::after {
          animation: fadeOut 6s  ease-in-out infinite;
        }
      }
      .buyer .block {
        animation: blockBackwards 6s  ease-in-out infinite;
  
        &::before {
          animation: fadeOut2 6s  ease-in-out infinite;
        }
      }
      .block.empty {
        &.seller {
          animation: fadeIn 6s  ease-in-out infinite;
        }
        &.buyer {
          animation: fadeIn2 6s  ease-in-out infinite;
        }
      }
    }
    &.pause {
      .show {
        animation-play-state: paused;
      }
      .scan {
        animation-play-state: paused;
      }
      .phone-bg img {
        animation-play-state: paused;
      }
      .diagram-content {
        .field {
          animation-play-state: paused;
        }
        .seller .block {
          animation-play-state: paused;
    
          &::after {
            animation-play-state: paused;
          }
        }
        .buyer .block {
          animation-play-state: paused;
    
          &::before {
            animation-play-state: paused;
          }
        }
        .block.empty {
          &.seller {
            animation-play-state: paused;
          }
          &.buyer {
            animation-play-state: paused;
          }
        }
      }
    }
  }

  .slick-slider {
    @media (min-width: 961px) {
      box-shadow: $container-shadow;
      border-radius: $container-radius;
    }
  }

  button.slick-arrow {
    &.slick-next,
    &.slick-prev {
      transition: 0.2s ease-in-out;
      
      &:hover {
        opacity: 0.7;
      }

      &.slick-disabled {
        opacity: 0.2;
        cursor: auto;
      }
    }
    &.slick-next {
      width: 60px;
      height: 60px;
      right: 20px;
      &::before,
      &::after {
        content: '';
        width: 35px;
        height: 3px;
        transform: rotate(45deg) translateX(-15px);
        background: #80F0BE;
        display: block;
        opacity: 1;
      }

      &::after {
        transform: rotate(-45deg) translateX(-15px);
      }
    }
    &.slick-prev {
      width: 60px;
      height: 60px;
      left: 20px;
      z-index: 2;
      &::before,
      &::after {
        content: '';
        width: 35px;
        height: 3px;
        transform: rotate(-225deg) translateX(-15px);
        background: #80F0BE;
        display: block;
        opacity: 1;
      }

      &::after {
        transform: rotate(225deg) translateX(-15px);
      }
    }
  }

  .slick-slider,
  .slick-list,
  .slick-track,
  .slick-slide > div {
    min-height: 100%;
  }

  .slick-dots {
    bottom: 50px;

    li {
      button {
        padding: 0;

        &::before {
          content: '';
          background: rgba(255, 255, 255, 0.3);
          width: 6px;
          height: 6px;
          border-radius: 50%;
          top: calc(50% - 3px);
          left: calc(50% - 3px);
          transition: 0.3s all ease-in-out;
        }
      }

      &.slick-active {
        button {
          &::before {
            background-color: #80F0BE;
            width: 21px;
            border-radius: 57.68px;
            left: 0;
          }
        }
      }
    }
  }
}

@keyframes show-move {
  0% {
    opacity: 0.5;
    transform: translate(-5px);
  }
  20% {
    opacity: 1;
    transform: translate(0);
  }
  50% {
    opacity: 1;
    transform: translate(0);
  }
  80% {
    opacity: 0.5;
    transform: translate(-5px);
  }
  100% {
    opacity: 0.5;
    transform: translate(-5px);
  }
}

@keyframes scan-move {
  0% {
    transform: translate(5px, 15px);
  }
  20% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(5px, 15px);
  }
  100% {
    transform: translate(5px, 15px);
  }
}

@keyframes qr-scan {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  15% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.2;
    transform: scale(0.95);
  }
  30% {
    opacity: 0.2;
    transform: scale(0.95);
  }
  35% {
    opacity: 1;
    transform: scale(0.95);
  }
  40% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  45% {
    opacity: 1;
    transform: scale(0.95);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes close-modal {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(30px);
    opacity: 1;
  }
  45% {
    transform: translateY(-5vh);
    opacity: 0;
  }
  100% {
    transform: translateY(-5vh);
    opacity: 0;
  }
}

@keyframes fade-out-modal {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blockForward {
  0% {transform: translateX(0); opacity: 1}
  20% {transform: translateX(calc(100% + 8px)); opacity: 1}
  30% {transform: translateX(calc(100% + 8px)); opacity: 0.4}
  70% {transform: translateX(calc(100% + 8px)); opacity: 0.4}
  85% {transform: translateX(0); opacity: 1}
}

@keyframes blockBackwards {
  30% {transform: translateX(0); opacity: 1}
  50% {transform: translateX(calc(-100% - 8px)); opacity: 1}
  60% {transform: translateX(calc(-100% - 8px)); opacity: 0.4}
  70% {transform: translateX(calc(-100% - 8px)); opacity: 0.4}
  85% {transform: translateX(0); opacity: 1}
}

@keyframes fadeOut {
  0% {opacity: 1; transform: translateX(0)}
  10% {opacity: 0; transform: translateX(16px)}
  80% {opacity: 0; transform: translateX(16px)}
  95% {opacity: 1; transform: translateX(0)}
}

@keyframes fadeOut2 {
  30% {opacity: 1; transform: translateX(0)}
  40% {opacity: 0; transform: translateX(-10px)}
  80% {opacity: 0; transform: translateX(-10px)}
  95% {opacity: 1; transform: translateX(0)}
}

@keyframes fadeIn { 
  20% {border: 1px dashed rgba($white, 0.08)}
  30% {border: 1px dashed rgba($labels-accent-1, 1)}
  70% {border: 1px dashed rgba($labels-accent-1, 1)}
  80% {border: 1px dashed rgba($white, 0.08)}
}

@keyframes fadeIn2 { 
  50% {border: 1px dashed rgba($white, 0.08)}
  60% {border: 1px dashed rgba($labels-accent-2, 1)}
  70% {border: 1px dashed rgba($labels-accent-2, 1)}
  80% {border: 1px dashed rgba($white, 0.08)}
}

@keyframes success {
  50% {opacity: 1; border: 1px solid rgba($accent, 0)}
  59% {opacity: 0.8; border: 1px solid rgba($accent, 1)}
  63% {opacity: 0.8; border: 1px solid rgba($accent, 0.3)}
  68% {opacity: 0.8; border: 1px solid rgba($accent, 1)}
  70% {opacity: 0.8; border: 1px solid rgba($accent, 1)}
  83% {opacity: 1; border: 1px solid rgba($accent, 0)}
}