@import "../styles/Settings.scss";
@import "../styles/Mixins.scss";

.voucher-details {
  background: #161B21;
  min-height: 100vh;
  padding-top: 47px;
  padding-bottom: 27px;

  .container {
    padding: 0 22px;
  }

  h2 {
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
  }

  .content {
    margin-top: 30px;

    @include product-info;
    @include table;

    .section {
      .table + .table,
      .row + .row  {
        margin-top: 18px;
      }
      
      &.status {
        margin-top: 44px;

        .status-container {
          margin-top: 19px;

          .status-block {
            width: 97px;
            height: 49px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            background: #25303D;
            box-sizing: border-box;
            border-radius: 8px;

            & + .status-block {
              margin-left: 8px;
            }

            &.color {
              &_1 {
                border: 2px solid #4DC0FD;
                
                .status-name {
                  color: #4DC0FD;
                }
              }
            }

            .status-name {
              font-family: 'Barlow', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;

              text-align: center;
            }

            .status-details {
              margin-top: 1px;
              font-family: 'Barlow', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 14px;
              text-align: center;

              color: #FFFFFF;
            }
          }
        }
      }
      &.expiration {
        margin-top: 36px;

        .expiration-container {
          background: #1F2833;
          border-radius: 4px;
          padding: 18px;
          padding-bottom: 21px;

          & > p {
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: #FFFFFF;
          }
          .time-left {
            p {
              font-family: 'Barlow', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 112.4%;

              text-align: center;
              text-transform: uppercase;

              color: #FFFFFF;
              margin-bottom: 9px;
            }
            .progress {
              background: #2A3542;
              border-radius: 20px;
              width: 67px;
              height: 5px;
              position: relative;
              overflow: hidden;

              &::after {
                content: '';
                position: absolute;
                top: 0;
                width: #{'var(--progress-percentage)'};
                bottom: 0;
                left: 0;
                background: #80F0BE;
              }
            }
          }
        }
      }
      &.escrow {
        margin-top: 50px;
      }
      &.info {
        margin-top: 39px;
        padding-top: 30px;

        border-top: 1px solid rgba(255, 255, 255, 0.06);
      }
      &.description {
        .image {
          width: 35px;
          height: 45px;

          img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
          }
        }
        .description {
          margin-top: 25px;
        }
      }
      &.general {
        margin-top: 42px;

        .table:not(.location) {
          margin-left: 24px;
        }
      }
      &.date {
        margin-top: 42px;
      }
      &.seller {
        margin-top: 30px;
        padding-top: 27px;

        border-top: 1px solid rgba(255, 255, 255, 0.06);
      }
    }
  }
}