@import "../../../styles/Settings.scss";

.top-navigation {
  margin-top: 55px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;

  nav {
    width: 100%;

    & > * + * {
      margin-left: 45px;
    }

    a {
      text-decoration: none;

    }

    .search {
      svg {
        margin-right: 15px;
      }

      p {
        font-family: $font-third;
        font-size: 13px;
      }
    }
  }
}
