@import "src/styles/Settings";

section.activity {
  .page-title {
    margin-top: 21px;
    margin-bottom: 28px;

    h1 {
      font-family: $font-primary;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 111.4%;
      /* identical to box height, or 29px */


      color: #FFFFFF;
    }
  }

  .react-tabs {
    ul[role="tablist"] {
      border-bottom: 1px solid #212C36;

      li {
        width: 50%;
        font-family: 'Exo', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 111.4%;
        /* identical to box height, or 18px */

        padding: 12px;

        text-align: center;

        &.react-tabs__tab--selected {
          background: none;
          border: none;
          color: #fff;
          border-radius: 0;
          border-bottom: 2px solid #80F0BE;
        }
      }
    }
  }

  .voucher-set-container {
    margin-top: 40px;

    .collapsible {
      .voucher-block {
        align-items: center;


        margin-top: 10px;
        @media (max-width: 769px) {
          .title-container {
            .title {
              white-space: nowrap;
              width: 180px;
            }
          }
        }
      }

      &.state {
        &_collapsed {
          .child-vouchers {
            display: none;
          }
        }
      }

      & + .collapsible {
        margin-top: 20px;
      }
    }

    .voucher-block {
      a,
      &.solo {
         align-items: center;
        width: 100%;
        display: flex;
        max-height: 180px;
        border-radius: 8px;
        padding:1px 5px 2px 5px;
        background: #141C24;
        transition: 0.15s ease-in-out;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background: #1D2834;
        }
      }
      .expires {
        align-self: flex-end;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        margin-right: 6px;
        margin-bottom: 10px;
        color: #4C6581;
        display: flex;
        white-space: nowrap;

        @media (max-width: 420px) {
          flex-direction: column;
        }
      }
      &.supply {
        .info {
          flex-shrink: 1;
          width: 58%;



        }
      }

      &.sub,
      a {
        min-height: 92px;
        position: relative
      }

      & + .voucher-block {
        margin-top: 20px;
      }

      .description {
        margin-left: 16px;

        .expiration {
          margin-top: 7px;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;

          color: #4C6581;
        }
      }

      .statuses {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 320px) {
          max-width: 35%;
        }

        .label {
          background: #358EF5;
          border-radius: 4px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-align: center;
          color: #FFFFFF;
          padding: 5px;

          &.color {
            &_CANCELLED {
              background: #69819B;
            }

            &_COMMITED {
              background: #358EF5;
            }

            &_COMPLAINED {
              background: #F35D7C;
            }

            &_FINALIZED {
              background: #358EF5;
            }

            &_REDEEMED {
              background: #15BB9D;
            }

            &_REFUNDED {
              background: #E7B85E;
            }

            &_EXPIRED {
              background: #8E80D1;
            }
          }

          & + .label {
            margin-top: 5px;
          }
        }
      }

      .status {
        p {
          font-family: 'Barlow', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 13px;

          color: #4C6581;
        }
      }

      .thumb {
        // background: linear-gradient(210.91deg, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0) 102.42%), #1C2835;;
        // border-radius: 4.6623px;
        // box-shadow: 5.12853px 6.99345px 20.5141px rgba(0, 0, 0, 0.2);

        margin-right: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        max-width: 100px;
        max-height: 80px;

        flex: 0 1 125px;


        @media (max-width: 320px) {
          max-width: calc(20% - 15px);
        }
        img {
            max-width: 82px;
        }
      }
      .qr-thumb {
        // margin-right: -3px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;



        @media (min-width: 450px) {
          flex: 0 1 65px;
        }
      }
      .voucher-set-info {
        @media (max-width: 320px) {
          max-width: 34%;
        }
      }
      .info {
        font-family: $font-secondary;
        font-style: normal;
        font-weight: 500;
        position: relative;
        padding: 10px 0;
        flex: 8 0 auto;



        & > div + div {
          margin-top: 2px;
        }

        .label {
          background: #358EF5;
          border-radius: 58px;
          font-size: 12px;
          line-height: 14px;
          text-align: center;

          color: #FFFFFF;
          padding: 3px 12px 5px 12px;
          text-transform: uppercase;
        }

        .date {
          font-size: 13px;
          line-height: 16px;
          /* identical to box height */


          color: #4C6581;
        }
        .price {
          margin-left: 4px;
        }
        .title {
          font-weight: 500;
          font-size: 16px;
          line-height: 17px;
          padding: 7px 0;
          margin-left: 4px;
          color: #FFFFFF;

          @media (min-width: 1366px) {
            font-size: 20px;
          }
          @media (min-width: 320px) {
            max-width: 100%;
          }
        }

        .value {
          text-transform: uppercase;
          font-size: 14px;
          line-height: 17px;

          color: #FFFFFF;

          svg {
            margin-right: 9px;
          }
        }

        .quantity {
          text-transform: uppercase;
          font-size: 12px;
          line-height: 14px;
          text-align: right;

          color: #FFFFFF;
          background: #1D2834;
          border-radius: 58px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 13px 5px 8px;

          @media (max-width: 320px) {
            margin-top: 10px;
            background: no-repeat;
            padding-left: 0;
          }
          .icon {
            margin-right: 6px;

            svg {
              transform: translateY(4px);
            }
          }
        }
      }

      @media (max-width: 769px) {
        .title-container {
          .title {
            white-space: nowrap;
            width: 120px;
          }
        }
      }
    }
  }

  .no-vouchers {
    p {
      font-family: 'Exo', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-align: center;

      color: #A1BBD9;
      margin-top: 90px;
    }

    svg {
      margin-top: 80px;
    }

    .wallets {
      border-top: 0;
    }
  }
}
.activity-price {

  @media (max-width: 320px) {
    flex-direction: column;
    align-items: flex-start !important;
  }
}

.status {
  font-size: 0;
  .status-container {

    .rc__item-container{
      flex-shrink: 0;
    }

    .status-block:not(:last-of-type)  h3 {
      font-size: 0px !important;
      padding: 4px;
    }
    .status-block {

      &.color {
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #fff;
        padding: 5px;
        border-radius: 4px;
        height: 22px;

        &_1 {
          .status-name {
            background: #358ef5;

          }
        }
        &_2 {
          .status-name {
            background:  #15BB9D;
          }
        }
        &_3 {
          .status-name {
            background:  #FA5B66;
          }
        }
        &_4 {
          .status-name {
            background:  #334253;
          }
        }
        &_5 {
          .status-name {
            background:  #E49043;
          }
        }
      }

      .final-status-container {
          display: flex;
      }

      .status-name {
        border-radius: 4px;
        height: 22px;
        display: flex;
        margin-left: 3px;
        margin-right: 3px;

        // margin: 5px 5px 0px 5px;
        align-items: center;
        justify-content: center;
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #fff;
        padding: 6px;


        @media (max-width: 420px) {
          font-size: 9.5px !important;

        }
        &.color {
          &_1 {
            background:  #15BB9D;
           }

          &_2 {
            border: #15BB9D 1px solid;
            color: #15BB9D;
           }

          &_3 {
            background:  #FA5B66;
          }

          &_4 {
            border:  #FA5B66 1px solid;
            color:  #FA5B66;
          }

          &_5 {
            color: #FFFFFF;
            background:  #334253;
          }

          &_6 {
             background: #334253;
             border: #6D839B 1px solid;
             color: #6D839B;
          }

      }
      }

    }
  }
}
