@import "../../styles/Settings.scss";

.category-menu {
  margin-top: 27px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 29px;
    height: 2px;
    background-color: $white;
  }
  .selected-item {
    font-family: $font-third;
    font-weight: 600;
    font-size: 28px;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    opacity: 0;
    transition: 0.45s ease-in-out;
    transform: scale(1.1);

    &.arrange {
      opacity: 1;
      transform: scale(1);
    }
  }
  .category-container {
    margin-left: 25px;

    ul {
      overflow-x: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      margin-bottom: -5px;

      &.no-animation {
        li {
          transition: none;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        flex-shrink: 0;
        font-family: $font-third;

        transform: translateX(-10px);
        opacity: 0;

        transition: 0.45s ease-in-out;

        & + li {
          margin-left: 24px;
        }
      }

      &.arrange {
        li {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}