@import "../styles/Settings.scss";

.category-menu {
  margin-top: 27px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 29px;
    height: 2px;
    background-color: $white;
  }
  .selected-item {
    font-family: $font-third;
    font-weight: $weight-6;
    font-size: 28px;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }
  .category-container {
    margin-left: 25px;

    ul {
      overflow-x: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      margin-bottom: -5px;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        flex-shrink: 0;
        font-family: $font-third;

        & + li {
          margin-left: 24px;
        }
      }
    }
  }
}