@import "../styles/Settings.scss";

header {
  nav {
    .qr-icon {
      margin-left: 45px;
    }
    .search {
      svg {
        margin-right: 15px;
      }
      p {
        font-family: $font-third;
        font-size: 13px;
      }
    }
  }
}