@import "../styles/Settings.scss";

.product-block {
  padding:  0 3.5px;

  .product-image {
    height: 175px;
    background: #1C2835;
    // box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.36);
    border-radius: 12px;
    padding: 10px;
  }
  h3 {
    font-size: 16px;
    font-weight: $weight-5;
    margin-top: 10px;
  }
  .price {
    margin-top: 5px;

    span {
      font-size: 14px;
      font-weight: $weight-5;

      display: flex;
      align-items: center;

      img {
        margin-right: 7px;
      }

      & + span {
        margin-left: 14px;
      }
    }
  }
}