@import "src/styles/Settings";

.new-offer {
  height: 100%;
  .top-navigation {
    margin-top: 48px;
  }

  .product-view.summary h1 {
    margin-top: 0;
  }

  .bottom-navigation {
    height: 97px;

    .button {
      top: 50%;
      transform: translateY(-50%);

      &:first-child {
        position: absolute;
        left: 0;
      }
      &:last-child {
        position: absolute;
        right: 0;
      }
    }

    &.offer {
      .button:not(.offer) {
        display: none;
      }
      .button.offer {
        width: 100%;
        position: absolute;
      }
    }

    &:not(.offer) {
      .offer {
        display: none;
      }
    }
  }
  .screen {
    .step-title {
      display: flex;
      align-items: flex-end;
    }
  }
  .screen-controller {
    padding-top: 42px;
    .date {
      .field[role="button"].await {
        position: relative;
        &::after {
          content: 'Select';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 38px;
          padding: 15px 13px;
          padding-left: 0;
          border-radius: 2px;
          height: 50px;
          border: none;
          color: #fff;
          font-family: "Barlow", sans-serif;
          font-size: 16px;
          line-height: 1.43;
          background: #151A1F;
          transition: 0.1s ease-in-out;
        }
      }
    }
    .input {
      position: relative;

      &:not(.no-border) {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        transition: ease-in-out;

        &.image-upload {
          &::after {
            top: auto;
            bottom: calc(100% + 9px);
            text-align: right;
            line-height: 1.4;
          }
        }

        &::after {
          content: attr(data-error);
          display: block;
          position: absolute;
          font-family: Exo;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 111.4%;
          text-align: right;
          color: #FF4E63;
          top: -21px;
          right: 0;
          opacity: 0;
          pointer-events: none;
          transition: ease-in-out;
        }
      }

      &[data-error] {
        &:not(.no-border) {
          border-bottom: 1px solid rgba(#FF4E63, 1);
        }
  
        &::after {
          content: attr(data-error);
          opacity: 1;
        }
      }
    }
    .row {
      &.display {
        p {
          color: #ACB9C8;
        }
      }
      & > p {
        color: #4c5f6f;
      }
      .field {
        display: flex;
        flex-direction: column;
        position: relative;

        label,
        .label {
          font-family: $font-primary;
          font-weight: 600;
          font-size: 14px;
          line-height: $height-small;

          color: #FFFFFF;
        }

        .label {
          margin-bottom: 14px;
        }

        input,
        textarea,
        .field {
          background:#151A1F;
          border-radius: 2px;
          height: 50px;
          border: none;
          color: #fff;
          padding: 15px 13px;

          font-family: $font-secondary;
          font-size: 16px;
          line-height: $height-regular;

          width: 100%;

          &.hidden {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
          }
        }

        & > .input {
          margin-top: 14px;

          input {
            margin-top: 0;
          }
        }

        .input {
          width: 100%;
          margin-top: 14px;

          .pseudo {
            position: absolute;
            width: 100%;
            height: 100%;
            border: none;
            color: #fff;
            padding: 15px 13px;
            font-family: "Barlow", sans-serif;
            font-size: 16px;
            line-height: 1.43;
            pointer-events: none;
            opacity: 1;
            transition: 0.1s ease-in-out;
          }

          .react-datepicker-wrapper {
            width: 100%;
          }
          
          .react-datepicker__input-container {
            .field {
              padding-left: 38px;
            }
          }

          input {
            transition: 0.1s ease-in-out;
            color: transparent;
          }

          .icon {
            pointer-events: none;
            position: absolute;
            left: 10px;
            top: 0px;
            padding-top: 16px;
          }

          .clear-field {
            position: absolute;
            top: 50%;
            right: 11px;
            width: 22px;
            transform: translateY(-50%);
            height: 22px;
            background: #19232A;
            border-radius: 48px;
            cursor: pointer;
            opacity: 0;
            transition: 0.15s ease-in-out;

            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 2px;
              height: 12px;
              top: 5px;
              left: 10px;
              background: #80F0BE;
              transform: rotate(-45deg);
              border-radius: 20px;
            }
            &::after {
              transform: rotate(45deg);
            }

            &.active {
              opacity: 1;
            }
          }

          &.focus {
            .pseudo {
              opacity: 0;
            }
            input {
              color: #fff;
              padding: 15px 13px;
              font-family: "Barlow", sans-serif;
              font-size: 16px;
              line-height: 1.43;
            }
          }
        }

        .max {
          position: absolute;
          height: 100%;
          border: none;
          color: #5D6F84;
          font-family: "Barlow", sans-serif;
          font-size: 16px;
          line-height: 1.43;
          pointer-events: none;
          top: 50%;
          transform: translateY(-50%);
          right: 15px;
          left: auto;
          display: flex;
          align-items: center;
        }

        .field {
          cursor: pointer;
        }

        textarea {
          min-height: 140px;
        }

        .currencies {
          position: relative;

          &::before {
            content: '';
            width: 9.8px;
            height: 16.9px;
            background-image: url('../../assets/ethereum/icon-eth.png');
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
          }
        }

        &.dual {
          .bind {
            // margin-top: 14px;

            .currencies-container {
              margin-right: 8px;
              margin-top: 14px; 
              width: 72px;
              height: 50px;
              position: relative;
              background-color: #151A1F;

              &.select-disabled {
                width: 55px;
                
                .icons > div {
                  left: 19px;
                }
                .icons {
                  &::after {
                    display: none;
                  }
                }
              }

              .icons {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                pointer-events: none;

                @media (max-width: 374px) {
                  left: -4px;
                }

                & > div {
                  opacity: 0;
                  transition: 0.1s ease-in-out;

                  display: block;
                  position: absolute;
                  width: 10px;
                  height: 17px;
                  transform: translateY(0);
                  top: 50%;
                  left: 12px;

                  &.ETH {
                    background-image: url('../../assets/ethereum/icon-eth.png');
                  }
                  &.BSN {
                    background-image: url('../../assets/boson/icon-bsn.png');
                    background-repeat: no-repeat;
                    width: 15px;
                    background-position: center;
                  }
                }

                &.ETH {
                  .ETH {
                    opacity: 1;
                    transform: translateY(-50%);
                  }
                }

                &.BSN {
                  .BSN {
                    opacity: 1;
                    transform: translateY(-50%);
                  }
                }


                &::after {
                  content: '';
                  display: block;
                  position: absolute;
                  width: 14px;
                  height: 8px;
                  background-image: url('../../assets/icons/dropdown-office.png');
                  transform: translateY(-50%);
                  top: 50%;
                  right: 17px;

                  @media (max-width: 374px) {
                    right: 13px;
                  }
                }
              }

              select {
                border: none;
                background-color: transparent;
                color: transparent;
                width: 100%;
                height: 100%;
              }

              & + .input {
                margin-left: 8px;
              }
            }
          }

          input {
            margin-top: 0;
          }
        }
      }

      .radio-container {
        background: #1C252D;
        border-radius: 100px;
        width: 139px;
        height: 36px;
        overflow: hidden;

        .radio-label {
          width: 50%;
          height: 100%;

          label {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 143.4%;
            /* identical to box height, or 23px */

            text-align: center;

            color: #5D6F84;

            background: rgba(255, 255, 255, 0.03);
            border-radius: 2px;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
              background: rgba(255, 255, 255, 0.02);
              box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.05);            
            }

            &.active,
            &.active:hover {
              background: rgba(0, 0, 0, 0.1);
              box-shadow: 1px 1px 15px rgba(0, 0, 0, 0);
              background: #80F0BE;
              border-radius: 100px;
              color: #151E27;
            }
          }
        }
      }

      & + .row:not(.display) {
        margin-top: 30px;
      }
    }
    .general {
      .limit {
        pointer-events: none;
        position: absolute;
        right: 17px;
        bottom: 9px;

        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 143.4%;
        /* identical to box height, or 23px */

        text-align: right;

        color: #5D6F84;
      }
    }
  }
}

::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.top-navigation-offer {
  .button {
    background-color: #192028;
  }
}

.bottom-navigation {
  button {
    border: none;
    position: relative;

    &::before {
      content: 'All fields are required';
      position: absolute;
      color: red;
      right: 100%;
      width: 172px;
      font-weight: 300;
      text-transform: none;
      opacity: 0;
      transition: 0.3s ease-in-out;
      transform: translateX(7px);
    }
    &.message {
      &::before {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}