.button.pending-button {
  opacity: 1;
  background: transparent;
  border: 4px solid transparent;
}

[data-config="button"] {
  --color-1: #E49043;
  --color-2: #5B391A;
  --background-color: #192028;
  --border-radius: 10px;
  --animation-speed: 2.5s;
  --border-width: 1px;
}

.pending-button-holder {
  background: radial-gradient(var(--color-1), var(--color-2));
  background-size: 400% 400%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  animation: rotateBackground var(--animation-speed) ease-in-out infinite;

  .pending-button {
    border-radius: var(--border-radius);
    background: var(--background-color);
  }
}

@keyframes rotateBackground {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
