.home {
  padding-bottom: 55px;

  @media (min-width: 961px) {
    padding-bottom: 112px;
  }

  header {
    margin-top: 60px;
  }

  .product-list {
    margin-top: 30px;

    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      a {
        min-width: 33.3%;
      }
    }
  }

  .home-products {
    margin-top: 25px;

    @media (min-width: 961px) {
      padding-top: 45px;
      padding-bottom: 45px;
      margin-top: 0;
    }
  }

  .search-icon {
    .search-label {
      margin-left: 15px;
      color: white;
    }
  }
}
