@keyframes loadingPlaceholder { 
  0%{background-position:0% 91%;}
  50%{background-position:100% 9%;}
  50%{background-position:100% 9%;}
  100%{background-position:0% 91%;}
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.is-loading {
  position: relative;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.is-loading::before {
  content: '';
  background-color: #0e121a;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0.17turn, #0e121a 35%, #131822 46%, #0e121a 65%);
  background-size: 1000% 1000%;
  transition: 0.8s ease-in-out;
  animation: loadingPlaceholder 2.5s ease-in infinite reverse;
}

.is-loading.error {
  filter: blur(5px);
  transform: scale(0.98);
  opacity: 0.6;
  position: relative;
  pointer-events: none;
}

.is-loading.error::before {
  animation-play-state: paused;
  filter: grayscale(1) contrast(1.5);
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 57px;
}

.slider .block {
  height: 175px;
  width: calc((100% / 3) - 7px);
  overflow: visible;
  position: relative;
}

.slider .block::before {
  border-radius: 12px;
  overflow: visible;
}

.slider .block .text {
  top: calc(100% + 8px);
  height: 18px;
  border-radius: 12px;
  width: 40%;
}

.slider .block .text:last-child {
  width: 100%;
  top: calc(100% + 14px);
}

@media (max-width: 768px) {
  .slider .block {
    width: calc((100% / 2) - 7px);
  }

  .slider .block:last-child {
    display: none;
  }
}

.placeholder-parent {
  margin-top: 40px;
}

.block.plceholder {
  height: 140px;
  border-radius: 8px;
  margin: 20px 0;
}

.wallet-parent-palceholder {

}

.wallet-parent-palceholder .wallet {
  width: 100%;
  height: 115px;
  margin-bottom: 33px;
  border-radius: 8px;
}

.wallet-parent-palceholder .connection {
  padding-top: 38px;
  border-top: 1px solid #37414C;
  width: 100%;
}

.wallet-parent-palceholder .connection .row {
  width: 100%;
  height: 48px;
}

.wallet-parent-palceholder .connection .row .left {
  height: 100%;
  width: 190px;
  border-radius: 8px;
}

.wallet-parent-palceholder .connection .row:last-child {
  margin-top: 8px;
}

.wallet-parent-palceholder .connection .row .right {
  height: 43px;
  width: 101px;
  border-radius: 8px;
}